<nav class="navbar navbar-expand-lg navbar-light light" id="fixNav">
  <a class="navbar-brand" href="#">
    <h1 style="font-size: 150%">Star</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="new" >SẢN PHẨM MỚI
          <span class="badge badge-danger">new</span>
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="bán chạy">BÁN CHẠY NHẤT
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="girl" id="navbarDropdown">BÉ GÁI
        </a>
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">VÁY</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">ÁO KHOÁC</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">ÁO LEN/ ÁO NỈ</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">QUẦN SHORT & CHÂN VÁY</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">QUẦN JEANS & LEGGING</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="boy" id="navbarDropdown">BÉ TRAI</a>
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">ÁO KHOÁC</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">ĐỒ BỘ</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">ÁO LEN & ÁO NỈ</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">ÁO PHÔNG & SƠ MI</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">QUẦN DÀI, QUẦN BÒ, QUẦN NỈ</a>
        </div>
      </li>
    </ul>
    <!--Tìm kiếm-->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search..." placeholder="Search..." aria-label="Search...">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>

    <div class="dropdown">
      <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-user-circle-o ac" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu">
        <a routerLink="rg" class="dropdown-item">Đăng ký</a>
        <a routerLink="login" class="dropdown-item">Đăng nhập</a>
      </div>
    </div>
    <i class="fa fa-shopping-cart sc" aria-hidden="true"></i>
  </div>
</nav>
